<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Todo</title>
        <%- include("bootstrap") %>
        <script src="/static/script.js" defer></script>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand mx-3">To-do App</a>
            <form class="form-inline" action="/logout" method="post">
              <button class="btn btn-outline-success my-2 my-sm-0 mx-3" type="submit">Logout</button>
            </form>
          </nav>
        <div class="container mt-5">
            <form class="card p-3" action="/add" method="post">
                <h1 class="card-title">Add Todo</h1>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="todo-title" class="form-label">Title</label>
                        <input
                            type="text"
                            class="form-control"
                            name="title"
                            id="todo-title"
                            placeholder="Enter your task"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="todo-desc" class="form-label"
                            >Description</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            name="desc"
                            id="todo-desc"
                            placeholder="Enter description for task"
                        />
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">
                            Add
                        </button>
                    </div>
                </div>
            </form>

            <div class="card mt-5">
                <h1 class="mx-3 mt-3">List Of All Task:</h1>
                <div class="card-body">
                    <% data.forEach(e => { %>
                    <div class="todo-card">
                        <h5 class="card-title">
                            <input
                                type="checkbox"
                                class="form-check-input mx-2 todo-item"
                                name=<%- e._id %>
                            /> <%- e.title %>
                        </h5>
                        <p class="card-text mx-4"><%- e.desc %></p>
                        <%- include('modal'); %>
                        <hr />
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </body>
</html>
